[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rangehttpserver = "==1.3.3"
yt-dlp = "*"
discord = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
